<div class="container-fluid">
    <br>
    <h2>Trending</h2>
    <carousel [height]="400" [cellWidth]="400">
        <app-pod-tile 
            *ngFor="let pod of trendingPods"
            class="carousel-cell"
            [name]="pod.name"
        >
        </app-pod-tile>
    </carousel>
    <h2>Original Espresso</h2>
    <carousel [height]="400" [cellWidth]="400">
        <app-pod-tile 
            *ngFor="let pod of originalPods"
            class="carousel-cell"
            [name]='pod.name'
        >
        </app-pod-tile>
        <!-- <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile> -->
    </carousel>
    <h2>Vertuo</h2>
    <carousel [height]="400" [cellWidth]="400">
        <app-pod-tile 
            *ngFor="let pod of vertuoPods"
            class="carousel-cell"
            [name]="pod.name"
        >
        </app-pod-tile>
    </carousel>
</div>