<div class="container">
    <br>
    <div class="card">
        <div class="card-body header-body">
            <img class="pod-image" src="assets/images/puertoricopod.png" height="100" width="200" align="left">
            <div class="pod-description">
                <h4 class="card-title">Cafecito de Puerto Rico</h4>
                <span class="badge badge-pill badge-primary">Good with Ice</span>
                <h5 class="card-subtitle mb-2 text-muted">Vertuo</h5>
                <h6 class="card-subtitle mb-2">Double Espresso</h6>
                <p class="card-text">Intense and creamy flavor of the espresso reveals an aromatic bouquet of dark
                    cocoa,
                    pepper and brown spice. Perfect on its own, Cafecito de Puerto Rico also mixes well with cream and
                    brown
                    sugar for a typical “Café Cortadito.</p>
            </div>
            <hr class="solid">
            <p class="rating-score">4.5</p>
            <star-rating value="4" [totalstars]="5" checkedcolor="brown" uncheckedcolor="black" size="18px"
                readonly="true"></star-rating>
            <p class="review-count">45 Reviews</p>
            <p class="intensity">Intensity: 10</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Flavor Profiles</h4>
            <h6>Roast</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body review-card">
            <h2 class="card-title">Reviewer Images</h2>
            <div class="card-body review-card-body">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Reviews</h2>
            <hr class="solid">
            <app-review></app-review>
            <app-review></app-review>
            <app-review></app-review>
            <app-review></app-review>
            <app-review></app-review>
            <app-review></app-review>
        </div>
    </div>
</div>