hr.solid {
    border-top: 3px solid;
}

.pod-image {
    margin-right: 10px;
    margin-top: 5px;
}

.rating-score {
    display: inline-block;
    margin-right: 10px;
}

star-rating {
    display: inline-block;
}

// .review-card-body {
//     position: relative;
// }

// ngx-gallery {
//     position: absolute;
//     top: 10%;
//     left: 25%;
// }