<div class="container">
    <br>
    <div class="card">
        <div class="card-body header-body">
            <img class="pod-image" src="assets/images/puertoricopod.png" height="100" width="200" align="left">
            <div class="pod-description">
                <h4 class="card-title">{{pod.name}}</h4>
                <span class="badge badge-pill badge-primary">Good with Ice</span>
                <h5 class="card-subtitle mb-2 text-muted">{{podType.name}}</h5>
                <h6 class="card-subtitle mb-2">{{cupSize.name}}</h6>
                <p class="card-text">{{pod.description}}</p>
            </div>
            <hr class="solid">
            <p class="rating-score">4.5</p>
            <app-stars-rating [rating]="3.2" [readOnly]="true"></app-stars-rating>
            <p class="review-count">45 Reviews</p>
            <p class="intensity">Intensity: 10</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Flavor Profiles</h4>
            <h6>Roast</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body review-card">
            <h2 class="card-title">Reviewer Images</h2>
            <div class="card-body review-card-body">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
        </div>
    </div>
    <br>
    <app-review-editor></app-review-editor>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Reviews</h2>
            <hr class="solid">
            <app-review [podReview]="podReview" *ngFor="let podReview of podReviews | paginate: { itemsPerPage: 12, currentPage: page }"></app-review>
            <pagination-controls class="pagination-control" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>