.pod-description {
    position: relative;
}

.badge {
    position: absolute;
    right: 0%;
    top: 0%;
    color: white;
    background-color: lightblue;
}

hr.solid {
    border-top: 3px solid;
}

.pod-image {
    margin-right: 10px;
    margin-top: 5px;
}

.rating-score {
    display: inline-block;
    margin-right: 10px;
}

app-stars-rating {
    display: inline-block;
    margin-right: 350px;
}

.review-count {
    display: inline-block;
    margin-right: 350px;
}

.intensity {
    display: inline-block
}

.header-body {
    padding-bottom: 0%;
}

.progress-bar {
    color: brown;
}