<app-top-nav></app-top-nav>
<br>
<div class="container-fluid">
    <carousel [height]="400" [cellWidth]="400">
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        <app-pod-tile class="carousel-cell"></app-pod-tile>
        
    </carousel>
</div>
<router-outlet></router-outlet>