<div>
    <star-rating value="4" [totalstars]="5" checkedcolor="brown" uncheckedcolor="black" size="18px" readonly="true">
    </star-rating>
    <div class="user">
        <img class="user-picture" src="assets/images/profile.jpg">
        <h6 class="user-name">Michael P.</h6>    
    </div>
    <h6><strong class="review-header">Review Header</strong></h6>
    <h6 class="text-muted">January 1, 2020</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius, nisi in pharetra aliquam, risus
        libero
        suscipit est, tristique accumsan risus lacus nec augue. Aliquam erat volutpat. Nulla sodales mi dolor, non
        posuere
        diam gravida vitae. Vestibulum malesuada accumsan rhoncus. Sed semper rhoncus cursus. Curabitur sed dapibus
        dolor.
        Aenean lacinia velit sed purus sodales porttitor. Fusce tempus lacinia libero, sed egestas ligula imperdiet id.
        Morbi non neque diam. Quisque ac sem eu ex lobortis tempus vitae non mauris. Vivamus quis mauris ipsum.

        Maecenas dui lorem, varius eu tellus et, viverra eleifend libero. Donec augue leo, cursus ut mattis nec,
        sollicitudin id sapien. Sed auctor ligula quis orci pulvinar imperdiet. Duis finibus faucibus dignissim.
        Maecenas
        ultricies molestie nisl, at scelerisque ipsum molestie eget. In hac habitasse platea dictumst. Proin mattis
        feugiat
        ante a vulputate. Phasellus elit metus, blandit eu eleifend a, viverra vitae eros. Morbi in nisl eu diam
        imperdiet
        fermentum nec at purus. Nunc sit amet fermentum massa, in venenatis diam. Duis ut orci nec quam accumsan
        interdum.
        Quisque vel tortor luctus, aliquet ante id, dapibus neque.
    </p>
    <hr class="solid">
</div>