<div>
    <app-stars-rating [rating]="podReview.score"></app-stars-rating>
    <div class="user">
        <img class="user-picture" src="assets/images/profile.jpg">
        <h6 class="user-name">Michael P.</h6>
    </div>
    <h6><strong class="review-header">{{ podReview.header }}</strong></h6>
    <h6 class="text-muted">{{ podReview.createdDate | date }}</h6>
    <p>{{ podReview.description }}</p>
    <!-- <p>{{isCollapsed ? minimizedBody + '...' : podReview.description }}</p> -->
    <!-- <p
        *ngIf="reviewBody.split(' ').length > 50"
        class="read-more-link"
        (click)="toggleCollapse()"
    >
        {{ isCollapsed ? 'Read More' : 'Read Less'}}
    </p> -->
    <hr class="solid">
</div>