 d<div class="container" [style.width]="height" [style.padding-bottom]="paddingBottom">
    <img src="assets/images/puertorico.png" alt="Avatar" class="image">
    <div class="tile-header">
        <h5 class="title tile-label">{{name}}</h5>
        <app-stars-rating
            class="tile-label"
            [rating]="podReviewAverage"
        >
        </app-stars-rating>
    </div>
    <div class="overlay">
        <h3 class="overlay-description">{{name}}<br>{{podReviewAverage}}</h3>
        <a [routerLink]="['/pod', podId]" class="btn btn-primary">Read Reviews</a>
    </div>
</div>