<div class="container">
    <img src="assets/images/puertorico.png" alt="Avatar" class="image">
    <div class="tile-header">
        <h6 class="title">Cafecito de Puerto Rico</h6>
        <star-rating value="4" [totalstars]="5" checkedcolor="brown" uncheckedcolor="black" size="18px" readonly="true"></star-rating>
    </div>
    <div class="overlay">
        <h3 class="overlay-description">Cafecito de Puerto Rico</h3>
        <a href="#" class="btn btn-primary">Read Reviews</a>
    </div>
</div>